<div>
  <select
    [ngModel]="selectedCompanyId"
    (ngModelChange)="onSelect($event)"
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm
           focus:outline-none focus:ring-[#3e66ea] focus:border-[#3e66ea]
           text-[#00113f] dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    
    <option value="">{{ loading ? 'Cargando...' : 'Seleccione una compañía' }}</option>
    <option *ngFor="let c of companies" [value]="c.company_id">
      {{ c.company_name }}
    </option>
  </select>
</div>