/* Firefox */
.nav-scroll {

  scrollbar-width: thin;                 /* thin / auto */
  scrollbar-color: #8e3ef6 transparent;  /* thumb color | track color */
}

/* WebKit (Chrome, Edge, Safari) */
.nav-scroll::-webkit-scrollbar {
  width: 8px;              /* grosor del scrollbar */
}

.nav-scroll::-webkit-scrollbar-track {
  background: transparent; /* color del track */
}

.nav-scroll::-webkit-scrollbar-thumb {
  background-color: #8e3ef6; /* color del thumb */
  border-radius: 9999px;      /* totalmente redondeado */
  border: 2px solid transparent; /* separa el thumb del borde */
  background-clip: padding-box;
}

/* (Opcional) Hover un poco más oscuro */
.nav-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #8e3ef6;
}

#logo{
    padding-top: 22px !important;
    padding-bottom: 32px !important;
    margin-top: 22px !important;
    margin-bottom: 8px !important;
}